@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Fira Code', monospace;
}
.text-devs-beta{
    text-align: center;
    color: #60265B;
    font-size: 18px;
    margin-top: 140px;
}
.text-devs-beta span{
    color: #f50d5a;
}