@import url('http://fonts.cdnfonts.com/css/silkscreen');
body{
    background-color: #2E132C;
}
.login-container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.login-left-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.login-left-container img:nth-child(2){
    margin-top: 35px;
}

.login-right-container{
    width: 100%;
}
.login-text-container{
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 433px;
}
.login-text-container h1{
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Silkscreen', sans-serif;
    letter-spacing: -0.333333px;
    margin-bottom: 37px;
}
.login-text-p{
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 37px;
}


.google-btn {
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
.google-icon-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    width: 20px;
    height: 20px;
}
.btn-text {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    height: 42px;
    width: 90%;
}