@import url('https://fonts.cdnfonts.com/css/silkscreen');

.welcome-container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.welcome-left-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.welcome-left-container img:nth-child(2){
    margin-top: 35px;
}

.welcome-right-container{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}
.welcome-container-right-all{
    display: flex;
    flex-direction: column;
    width: 433px;
}
.welcome-title-name{
    color: #f50d5a;
}
.welcome-title-container{
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    color: #fff;
    margin-bottom: 30px;
}
.welcome-input{
    border: none;
    padding: 12px;
    background-color: #150714;
    font-size: 24px;
    color: #914D8B;
    margin-bottom: 30px;
}
.welcome-input:focus{
    outline: none;
}
.welcome-input::placeholder{
    color: #914D8B;
}


.welcome-select-color-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
}
.welcome-select-color-container p{
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    color: #FFFFFF;
}
.color-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}

/* -------------------------- */
.box-clicked{
    border: 4px solid #fff;
    box-shadow: 0px 0px 9px -3px rgba(255,255,255,1);
}
.color-box{
    cursor: pointer;
    height: 58px;
    width: 58px;
    
    transition: all 0.2s;
}
.red{
    background-color: #F50D5A;
}
.orange{
    background-color: #FF865C;
}
.yellow{
    background-color: #FFEA5C;
}
.green{
    background-color: #00DA76;
}
.blue{
    background-color: #0096CE;
}
.purple{
    background-color: #800FFF;
}
/* ------------------------------ */

.welcome-btn-continue{
    cursor: pointer;
    background-color: #00DA76;
    color: #FFF;
    padding: 18px;
    font-family: Silkscreen;
    font-size: 24px;
    border: none;
    
    transition: all 0.2s;
}
.welcome-btn-continue:hover{
    background-color: #61dda3;
    transform: scale(1.01);
}

@media (max-width: 420px) {
    .welcome-left-container img{
        width: 60%;
    }
    .welcome-container{
        flex-direction: column;
    }
    .welcome-left-container{
        width: 100%;
        height: 40vh;
    }
    .welcome-right-container{
        width: 100%;
        height: 60vh;
    }
    .welcome-container-right-all{
        align-items: center;
        justify-content: center;
    }
    .welcome-title-container{
        font-size: 25px;
        text-align: center;
    }
    .welcome-input{
        width: 85%;
        font-size: 18px;
    }
    .welcome-select-color-container{
        width: 80%;
        margin-bottom: 30px;
    }
    .welcome-select-color-container p{
        font-size: 18px;
    }
    .color-container{
        margin-top: 10px;
    }
    .color-box{
        width: 40px;
        height: 40px;
    }
    .text-devs-beta{
        margin-top: 50px;
    }
}